/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

/* Style the tab */
img {
  display: block;
  margin: 0 auto;
  align: center;
}
label {
  margin-left: 40px;
}
footer{
  text-align: right;
  color: black;
  font-style: italic;
  font-size: 75%;
}
h3{
  font-size:100px;
}

p{
  font-size:80px;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;

  background-color : FireBrick;
  /*background-color: #f1f1f1;*/
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: white;
  font-size:20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: DarkRed;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: DarkRed;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid FireBrick;
  border-top: none;
  font-family:Helvetica;
}
#Client{
  display:block;
}
#cart_button{
  float: right;
}
#epicerie{
  margin:0 auto;
  width: 50%;
  height: 50%;
}
#price{
   margin-left: 60px;
   font-style: italic;

}
