/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

html {
  background-color: powderblue;
}
 
body {
  background-color: powderblue;
  width: 1000px;
  
  padding: 0px 20px 20px 20px;
  margin-right: auto;
  margin-left: auto
  
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: blue;
}
h1 {
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: black;
	font-family: Verdana;
	
}
h2{

	font-family: Helvetica;
}

img {
  display: block;
  margin: 0 auto;
  align: center;
}

p {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

#favorite{
	width: 500px;
	height: 30px;
	font-size: 15px;
}

.text {
	display: block;
	width: 700px;
	height: 100px
}
/* Defining styling for a specific element type - each question */
.question {
  background-color: white;
  color: black;
  margin: 20px;
  padding: 20px;
  font-family: Helvetica;
}

/* Defining styling for a specific element type - large block buttons */
.block {
  display: block;
  width: 100%;
  border: none;
  background-color: NavajoWhite;  /* yellow */
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}


/* Defining styling for a specific element with an id */
#signature {
  text-align: right;
  color: black;
  font-style: italic;
  font-size: 75%;
}

